.images{
  background: url('../images/backgrounds/h_img.jpg') no-repeat;
  height: 500px;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.logo{

}
.paragraph{
  font-size: 12px;
  color: white;
}
.welcome{
  font-size: 30px;
  color: white;
}
.studio{
  font-size: 30px;
  color: white;
}
.group{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.mouse{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 40px;
}
.header{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
}
.statements p{
    text-align: center;
}
.image2{
  background: url('../images/backgrounds/s_image.jpg') no-repeat;
  height: 500px;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.services_header{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: white;
}
.services{
  text-align: center;
  color: white;
}
.header1{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  width:93%;
  padding-bottom: 10px;
  padding-top: 10px;
}
.parent{
  display: flex;
  flex: 1;
  justify-content: space-around;

}
.design{
  text-align: center;
  flex:1;
}
.product{
  text-align: center;
  flex:1;

}
.icon{
  text-align: center;
  flex:1;
}
.designn{
  font-weight: bold;
}
.productt{
  font-weight: bold;
}
.develpmentt{
  font-weight: bold;
}
.header3{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  width:93%;
  padding-bottom: 10px;
  padding-top: 10px;
}
.all{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin:auto;

}
.item{
  margin-top:20px;
}
.contacts{
  background: url('../images/backgrounds/c_image.jpg') no-repeat;
  height: 500px;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
.contact{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: white;

}
.form{
  display: flex;
  margin-bottom: 50px;
  justify-content: space-around;
  padding-top: 20px

}
input{
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width:350px;

}
::placeholder{
  color:white;
}
textarea{
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.studio{
  display: flex;
  padding-top: 40px;
  justify-content: center;

}
.two{
  margin: 10px;
}
.year{
  text-align: center;
}
.P{
  display: none;

}
.D{
  display: none;
}
.Pr{
  display: none;
}
