.images{
  background: url('../images/backgrounds/h_img.jpg') no-repeat;
  height: 500px;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{

}
.paragraph{
  font-size: 12px;
  color: white;
}
.welcome{
  font-size: 30px;
  color: white;
}
.studio{
  font-size: 30px;
  color: white;
}
.group{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.mouse{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.header{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
}
.statements p{

    text-align: center;

}
